<section class="subs-tutorial py-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <section class="content mb-5">
                    <h5 class="bref">Discover</h5>
                    <h2 class="main-header">How It Works: Subscribe and Receive Your Surprise Box</h2>
                    <p class="desc">Subscribe to our surprise subscription box and give your child the gift of learning.
                        Each month, we curate a box filled with educational materials tailored to your child's age and
                        interests.</p>
                </section>
            </div>
        </div>

        <section class="imgs">
            <div class="row ">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <img class="my-3" src="assets/imgs/subs.svg" alt="">
                    <div class="my-3">
                        <div class="step-number">Step 1: </div>
                        <div class="step-title">Subscribe</div>
                    </div>
                    <article>Select a subscription plan that suits your child's learning needs and preferences.
                    </article>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <img class="my-3" src="assets/imgs/custom.svg" alt="">
                    <div class="my-3">
                        <div class="step-number">Step 2: </div>
                        <div class="step-title">Personalise Your Box</div>
                    </div>
                    <article>Tell us about your child's age, interests, and learning goals, and we'll customize their
                        surprise box accordingly.</article>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <img class="my-3" src="assets/imgs/surprise.svg" alt="">
                    <div class="my-3">
                        <div class="step-number">Step 3: </div>
                        <div class="step-title">Receive Your Surprise Box</div>
                    </div>
                    <article>Sit back and relax as your child eagerly awaits the arrival of their monthly surprise box
                        filled with engaging learning materials.</article>
                </div>
            </div>
            <app-button [path]="'/subscribe'" [name]="'Subscribe Now'"></app-button>
        </section>
    </div>
</section>