<header class="py-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8">
                <section class="content mb-5">
                    <h2 class="main-header">Discover the magic of our surprise box</h2>
                    <p class="sub-header my-4">Unleash your child's curiosity with our educational subscription box filled with fun and
                        learning.</p>
                    <button class="btn subs-btn">Subscribe Now</button>
                </section>
            </div>
            <section class="images">
                <img class="img-fluid" src="assets/imgs/header.png" alt="">
            </section>
        </div>
    </div>
</header>