/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'Nunito';
    src: url('./assets/font/Nunito-VariableFont_wght.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito";
}

a {
    font-family: "Nunito";
}

div {
    font-family: "Nunito";
}

p {
    font-family: "Nunito";
}

span {
    font-family: "Nunito";
}

strong {
    font-family: "Nunito";
}

b {
    font-family: "Nunito";
}

small {
    font-family: "Nunito";
}

.btn {
    font-family: "Nunito";
}


$primary-color:black;
$secondary-color: #FFFFFF;
$button-color:#896AF9;
$header-background-color: #AB95F9;
$layout-background-color: #FFF9E6;



