<section class="subs-form">
    <div class="container">
        <div class="row content m-auto mt-5">
            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <section class="form-content p-4">
                    <div class="form-title">
                        <h3>Subscribe</h3>
                        <h5>to our Monthly Surprise Box</h5>
                    </div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">Cart</li>
                            <li class="breadcrumb-item">Information</li>
                            <li class="breadcrumb-item">Shipping</li>
                            <li class="breadcrumb-item">Payment</li>
                        </ol>
                    </nav>
                    <hr>
                    <form action="">
                        <section class="contact-info">
                            <div class="form-name">Contact Information</div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Your Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="e.g Osama Alshathri">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Osama@gmail.com">
                            </div>
                        </section>
                        <section class="child-info">
                            <div class="form-name">Child's Information</div>
                            <div class="mb-3">
                                <label for="child-name" class="form-label">Email address</label>
                                <input type="text" class="form-control" id="child-name" placeholder="e.g Sara Mohammad">
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <select class="form-select mb-3 col-4" aria-label="Date">
                                        <option selected>Date</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="4">3</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-select mb-3 col-4" aria-label="Month">
                                        <option selected>Month</option>
                                        <option value="Jan">Jan</option>
                                        <option value="Feb">Feb</option>
                                        <option value="March">March</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-select mb-3 col-4" aria-label="ear">
                                        <option selected>Year</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-12">
                                <select class="form-select mb-3" aria-label="grade">
                                    <option selected>e.g Grade</option>
                                    <option value="1">Grade 1</option>
                                    <option value="2">Grade 2</option>
                                    <option value="3">Grade 3</option>
                                </select>
                            </div>

                            <div class="">
                                <label for="gender" class="form-label d-block">Gender</label>
                                <div class="row">
                                    <div class="col-6">
                                        <input type="radio" class="btn-check" name="options" id="boy"
                                            autocomplete="off">
                                        <label class="btn custom-radio w-100 d-flex justify-content-between" for="boy">
                                            Boy
                                            <i class="bi bi-check-circle"></i>
                                        </label>
                                    </div>

                                    <div class="col-6">

                                        <input type="radio" class="btn-check" name="options" id="girl"
                                            autocomplete="off">
                                        <label class="btn custom-radio w-100 d-flex justify-content-between" for="girl">
                                            Girl
                                            <i class="bi bi-check-circle"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="parent-select">
                            <div class="form-name">As a parent select any 3 topics</div>
                            <div class="col-12">
                                <input type="checkbox" class="btn-check" id="Arabic" autocomplete="off">
                                <label class="btn btn-primary custom-check  mt-3" for="Arabic">Arabic</label>

                                <input type="checkbox" class="btn-check" id="Islamic" autocomplete="off">
                                <label class="btn btn-primary custom-check mt-3" for="Islamic">Islamic</label>

                                <input type="checkbox" class="btn-check" id="English" autocomplete="off">
                                <label class="btn btn-primary custom-check mt-3" for="English">English</label>

                                <input type="checkbox" class="btn-check" id="History" autocomplete="off">
                                <label class="btn btn-primary custom-check mt-3" for="History">History</label>

                                <input type="checkbox" class="btn-check" id="Sports" autocomplete="off">
                                <label class="btn btn-primary custom-check mt-3" for="Sports">Sports</label>

                            </div>
                        </section>
                    </form>
                    <div class="col-12 d mt-4 d-none d-lg-block">
                        <app-button [path]="'/subscribe'" [name]="'Continue to payment'"></app-button>
                    </div>
                </section>
            </div>
            <section class="col-sm-12 col-md-12 col-lg-5 col-xl-5 p-4 subs-summary">
                <div class="form-title">
                    <h3>Summary</h3>
                    <h5>of your Monthly Surprise Box</h5>
                </div>
                <section class="items mb-4">
                    <div class="item">
                        <div class="item-name">Mystery Box</div>
                        <div class="item-quantity">X 1</div>
                    </div>
                    <div class="item-price-detail">
                        <div class="item-price">SAR <span class="price">456</span></div>
                        <div class="item-price-period">Monthly</div>
                    </div>
                </section>

                <section class="price-details">
                    <div class="subtotal d-flex justify-content-between">
                        <div class="title">Subtotal</div>
                        <div class="item-price">SAR <span class="price">456</span></div>
                    </div>
                    <div class="shipping my-2 d-flex justify-content-between">
                        <div class="title">Shipping</div>
                        <div class="shipping-value">Free</div>
                    </div>
                    <div class="taxes d-flex justify-content-between">
                        <div class="title">Taxes</div>
                        <div class="taxes-value">SAR <span class="price">4.0</span></div>
                    </div>
                </section>
                <hr>
                <section class="total d-flex justify-content-between">
                    <div class="total-title">Total</div>
                    <div class="total-price">SAR <span class="price">460</span></div>
                </section>

                <div class="col-12 d mt-4 d-block  d-sm-block d-md-block d-lg-none">
                    <app-button [path]="'/subscribe'" [name]="'Continue to payment'"></app-button>
                </div>
            </section>
        </div>
    </div>
</section>